

.hexagon-inner {
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}
.hexagon {
  width: 6rem; /* You can adjust as needed */
  height: 6rem; /* You can adjust as needed */
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

